.NoTours {
  font-size: 3rem;
  text-align: center;
}

.refresh {
  background-color: rgb(163, 163, 235);
  border: none;
  padding: 1rem 2rem;
  color: white;
  font-size: 2rem;
  border-radius: 4px;
  font-weight: normal;
}

.refresh:hover {
  cursor: pointer;
}
